body {
  font-family: Arial, sans-serif;
  background-color: #1e1e2f;
  color: #ffffff;
  margin: 0;
  padding: 0;
}

.auth-container,
.translator-container {
  background-color: #2c2c3c;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 90%;
  margin: 20px auto;
  text-align: center;
}

.banner {
  background-color: #007bff;
  padding: 10px;
  border-radius: 10px 10px 0 0;
  margin: -20px -20px 20px -20px;
}

.banner h1 {
  margin: 0;
  color: #ffffff;
}

input,
button {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}

button {
  background-color: #007bff;
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

button.google-button {
  background-color: #db4437; /* Color de Google */
  margin-top: 10px;
}

button.google-button:hover {
  background-color: #c23321;
}

.register-link,
.login-link {
  margin-top: 20px;
}

.register-link a,
.login-link a {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.register-link a:hover,
.login-link a:hover {
  text-decoration: underline;
}

.user-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-button {
  background-color: #ff4c4c;
  color: #ffffff;
}

.logout-button:hover {
  background-color: #ff1a1a;
}

.language-selectors {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.language-selector {
  flex: 1;
  margin: 0 5px;
}

textarea {
  width: calc(100% - 20px);
  padding: 10px;
  margin: 10px 0;
  border-radius: 5px;
  border: none;
  font-size: 16px;
}
